<%= form_with(model: @contact, :url => contact_confirm_path , local: true) do |f| %>

 
  <!--<%# if @contact.errors.any? %>-->
  <!--  <div class="alert alert-danger" role="alert">-->
  <!--    <strong>入力内容にエラーがあります</strong>-->
  <!--    <ul>-->
  <!--      <%# @contact.errors.each do |attr, msg| %>-->
  <!--        <li><%#= msg %></li>-->
  <!--      <%# end %>-->
  <!--    </ul>-->
  <!--  </div>-->
  <!--<%# end %>-->
 

  
  <ul>
      <li>
      <!--<div class="boxes-group">-->
      <div class="title">
        お名前<span class="text-danger">（必須）</span>
      </div>
      </li>
      <li>
        <%= f.text_field :name, class: "input-box" %>
      </li>
      <!--</div>-->
      
      <li>
      <!--<div class="boxes-group">-->
        <div class="title">
        メールアドレス<span class="text-danger">（必須）</span>
        </div>
      </li>
      <li>
        <%= f.text_field :email, class: "input-box" %>
      </li>
      <!--</div>-->
      <li>
        
      <!--<div class="boxes-group">  -->
        <div class="title">
        お問い合わせ内容
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-4">
            <%= f.select :select,  [['お仕事のご依頼', 'お仕事のご依頼'], ['お見積もりのご相談', 'お見積もりのご相談'], ['その他', 'その他']], {}, {class: "custom-select select-size"} %>
            <!--<select class="custom-select mx-auto select-size" id="inlineFormCustomSelect">-->
            <!--  <option value="ゲスト4人">ゲスト4人</option>-->
            <!--  <option value="ゲスト5人">ゲスト5人</option>-->
            <!--  <option value="ゲスト6人">ゲスト6人</option>-->
            <!--</select>   -->
          </div>
        </div>  
      </li>
      <li>
        <%= f.text_area :message, class: "message-box" %>
      </li>
      <!--</div>-->
      
  </ul>
  
  <!--<div class="submit-box">-->
    <%= f.submit '=send', class: 'btn confirm submit-box buttom-animation' %>
  <!--</div>-->
<% end %>